.navbar{
  width: 90%;
  margin: 0 5%;
}
.logo-img{
  margin-left: 20px;
}
.link{
  margin-left: 160px;
}
.nabar_img{
  height: 600px;
  width: 100%;
  position: relative;
}
.navbar_text{
  position: absolute;
  top: 70%;
  left: 8%;
}
.navbar-title{
  color: #fff;
}
.navbar-info{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
.navbar-info:hover{
  color: #000;
  border-bottom: 2px solid #000;
}
.links{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  /* margin-left: 120px;
  margin-top: 40px; */
}
.link{
  text-decoration: none;
  color: #B3B3B3;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
.link:hover{
  color:  #1A1A1A;
  border-bottom: 2px solid #1A1A1A;
  padding-bottom: 5px;
  cursor: pointer;
}
.card1{
  width: 100%;
  display: grid;
  grid-template-columns:  275px 275px 275px 275px;
  gap: 10px;
  /* margin-left :240px; */
  margin-top: 5%;
  margin-left: 20%;
}
.card{
  width: 275px;
  height: 400px;
  margin-right: 100px;
}
.card_img{
  width: 100%;
  height: 341px;
}
.card_title{
  display: flex;
  align-items: center;
  margin:0 10px;
  color: #160707;
}
.card_title1{
  margin-left: 10px;
  color: #A8A8A8;
}
.card_info{
  display: flex;align-items: center;
  color: #1A1A1A;
  margin: 0 10px;
}
.card-info2{
  color: #808080;
  margin-right: 10px;
}
.card-info1{
  color: #FF3451;
}
.card_btn{
  width: 200px;
  height: 56px;
  background-color: #1A1A1A;
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 45%;
}
.card_btn1{
  font-weight: 400;
  font-size: 20px;
  line-height: 56px;
  color: #F7F7F7;
  text-decoration: none;
}
.card_btn1:hover{
  color: #F7F7F7;
}
.analog{
  background-image: url("../src/pages/img/btn.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
  margin-top: 50px;
}
.box{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #7E6E45;
  margin-left: 90%;
  /* margin-left: 1700px; */
  margin-top: 50px;
}
.box p{
  width: 59px;
  height: 63px;
  margin-left: calc(50% - 59px/2 + 0.5px);
  padding-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: #EAE7D9;

}
.analog_title{
  position: absolute;
  font-weight: 400;
  font-size: 35px;
  line-height: 54px;
  color: #F7F7F7;
  width: 360px;
  height: 108px;
  margin-top: 15%;
  margin-left: 140px;
}
.analog_btn{
  width: 182px;
  height: 40px;
  position: absolute;
  background: #7E6E45;
  border: 1px solid #7E6E45;
  border-radius: 0px;
  text-align: center;
  color: #F7F7F7;
  margin-top: 17%;
  top: 10%;
  left: 140px;
}
.analog_link{
  position: absolute;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #F7F7F7;
  margin-top:20%;
  top: 10%;
  left: 140px;
}
.jurnal{
  width: 100%;
  height: 890px;
  background-color: #312F2E;
  position: relative;
}
.jurnal_card{
  position: absolute;
  width: 85%;
  height: 636px;
  background-color: #fff;
  margin: 127px 140px;
  display: flex;
  align-items: center;
}
.jurnal-left{
  width: 30%;
  height: 100%;
}
.jurnal-right{
  width: 70%;
  height: 100%;
  background-image: url("../src/pages/img/jurnal.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.jurnal_title{
  width: 182px;
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  color: #1A1A1A;
  margin-top: 190px;
  margin-left: 93px;
}
.jurnal_info{
  width: 182px;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #1A1A1A;
  margin-left: 93px;
}
.jurnal_link{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1A1A1A;
  margin-left: 93px;
  margin-top: 32px;
}
.jurnal_link:hover{
  color: #1A1A1A;
}
.katalog{
  margin: 0  15%;
}
.katalog_title{
  width: 45%;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #1A1A1A;
  margin: 0 auto;
  margin-top: 10%;
}
.katalog_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 10%;
}
.men{
  width: 40%;
  height: 60%;
  display: block;
}
.men img{
  width: 100%;
}
.men a{
  color:#1A1A1A ;
}
.men a:hover{
  color: #1A1A1A;
}
.women{
  width: 40%;
  height: 60%;
  display: block;
}
.women img{
  width: 100%;
}
.women a{
  color:#1A1A1A ;
}
.women a:hover{
  color: #1A1A1A;
}
.katalog_botton{
  width: 100%;
  display: block;
  margin-top: 5%;
}
.katalog_botton img{
  width: 100%;
}
.katalog_botton a{
  color: #1A1A1A;
}
.katalog_botton a:hover{
  color: #1A1A1A;
}
.story{
  background-image: url("../src/pages/img/story.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;  
  margin-top: 10%;
}
.story_title{
  font-weight: 400;
  font-size: 35px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
  width: 45%;
  padding-top: 16%;
  margin-left:22%;
}
.story_link{
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 40%;
}
.story_link:hover{
  color: #FFFFFF;
}
.loop{
  background-color: #CED3CA;
  width: 100%;
  height: 443px;
}
.loop_title{
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #1A1A1A;
  padding-top: 5%;
}
.loop_info{
  width: 19%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1A1A1A;
  margin: 0 auto;
}
.input{
  margin-top: 2%;
  position: relative;
}
.loop_input{
  width: 16%;
  height: 48px;
  margin-left: 40.5%;
}
.input_btn{
  width: 3%;
  height: 48px;
  position: absolute;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}
.footer_left{
  display: flex;
  align-items: center;
  margin-top: 4%;
  margin-left: 2.5%;
}
.footer_left1{
  list-style: none;
}
.footer_left11{
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #1A1A1A;
  text-decoration: none;
}
.footer_left11:hover{
  color: #1A1A1A;
}
.footer_left2{
  list-style: none;
  margin-left: 150px;
}
.footer_left22{
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #1A1A1A;
  text-decoration: none;
}
.footer_left22:hover{
  color: #1A1A1A;
}
.footer_right{
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-top: 15%;
}
.footer_right1{
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: right;
  color: #1A1A1A;
}
.footer_right2{
  width: 60%;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: right;
  color: #1A1A1A;
  height: 42px;
  margin-left: 40%;
}
.footer_right3{
  width: 55px;
  height: 88px;
  margin-left: 4%;
}
.img_footer{
  margin-top: 5%;
  margin-left: 55%;
}
.img_footer img{
  margin-left: 8%;
}
.biCart{
  font-size: 30px;
}
.bsIns{
  font-size: 30px;
  margin-right: 10px;
}
.aiOut{
  font-size: 30px;
  margin-right: 10px;
}
.aiFill{
  font-size: 30px;
}
.pagination{
  display: flex;justify-content: center;
  margin-top: 5%;
}

@media(max-width:991px){
  .navbar_text {
    top: 350px;
    left: 93px;
  }
  .link{
    margin-left: 85px;
  }
  .card1{
    margin-left: 20%;
    grid-template-columns: 275px 275px;
  }
  .card{
    margin-left: -25px;
  }
  .analog{
    height: 484px;
  }
  .analog_btn{
    top: 25%;
  }
  .analog_link{
    top: 40%;
  }
  .box{
    margin-left: 80%;
  }
  .jurnal{
    height: 545px;
  }
  .jurnal_card{
    height: 400px;
    margin: 67px 89px;
  }
  .jurnal_title{
    font-size: 33px;
    margin-left: 45px;
    margin-top: 70px;
  }
  .jurnal_info{
    margin-left: 45px;
  }
  .jurnal_link{
    margin-left: 45px;
  }
  .katalog_title{
    font-size: 25px;
  }
  .women img {
    margin-left: 50px;
}
    
   .loop_input {
     margin-left: 30%;
   }
   .footer{
     display: block;
     margin-left:20%;
   }
}
@media(max-width:500px){
  .card1{
    margin-left:80px ;
    grid-template-columns: 275px ;
  }
  .links {
    display: none;
}
.analog_title{
  margin-left: 5%;
}
.analog_btn{
  top: 25%;
  left: 5%;
}
.analog_link{
 left: 5%;
}
.card_btn{
  margin-left: 30%;
}
}